<div class="container">
    <h2 class="page-title" >{{title}}</h2>
    <div class="row">
        <div class="col-md-6">

    <div class="row">
        <div class="col-md-6">
        <label>Manufacturer</label><input class="form-control" [(ngModel)]="manufacturerData.manufacturer" placeholder="Manufacturer Name"/>
          </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-2 mt-3">  
      <button class="btn btn-dark" (click)="addManufacturer()">Save Manufacturer</button> 
    </div>   
    </div>
  </div>  
</div>  
  
</div>  
