<div class="container">
  <h2 class="page-title" >{{title}}</h2>
  <div class="row">
    <div class="col-sm-4">              
      <div class="card">         
          <div class="card-body">            
            <h5 class="card-title text-center font-weight-bold">Developer</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center text-danger font-weight-bold">Arun Anto</li>
                <li class="list-group-item text-center ">arunanto316@gmail.com</li>
            </ul>                     
          </div>
        </div>           
    </div>
    <div class="col-sm-8">
      <h4>Description</h4>      
      <p>This application lets you manage your car inventory.</p>   
      <p>Technologies used</p>      
      <div class="list-group mb-3 ">
        <a href="#" class="list-group-item disabled"><kbd>Angular 7</kbd></a>
        <a href="#" class="list-group-item disabled"><kbd>REST API</kbd></a>
        <a href="#" class="list-group-item disabled"><kbd>PHP Code Igniter</kbd>&nbsp;&nbsp;<kbd>Mysql</kbd></a>
      </div> 
      <div class="col-sm-8">      
          <div >
              <div >
                <p>This application has three modules including -</p>
                <dl >
                  <dt>Inventory</dt>
                  <dd>- Here you can manage your inventory. Data listed in the grid is grouped based on the manufacturer and model.</dd>
                  <dt>Add Manufacturer</dt>
                  <dd>- This lets you add a manufacturer. The manufacturer name must be unique.</dd>
                  <dt>Add Model</dt>
                  <dd>- Here you can add the different vehicle models.</dd>
                </dl>     
              </div>
          </div>
      </div>
  </div>
</div>
</div>
